html {
    width: 1200px;
}

body {
    min-width: 1200px;
    min-height: 1173px;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow Bold", "Trebuchet MS", Helvetica, sans-serif;  
    margin: 0;
    padding: 0;
}

body {
  background: #000000 url("../img/barbershop-shop.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}

.main-header {
    min-height: 70px;
    margin-bottom: 50px;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 170px;
    min-height: 70px;
    text-align: right;
    margin-right: 20px;
}

.main-navigation {
    float: left;
    width: 520px;
    min-height: 70px;
    padding: 0;
    margin: 0;
}

.user-block {
    float: right;
    width: 230px;
    min-height: 70px;
 }

.main-navigation-button {
    float: left;
    width: 100px;
    text-align: center;
}

.user-block-button {
    float: right;
    width: 80px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main {
    min-height: 910px;
}

.name {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
}

.second-navigation {
    float: left;
    width: 960px;
    min-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.second-navigation-button {
    float: left;
    width: 100px;
    text-align: center;
}

.selection {
    float: left;
    width: 230px;
    min-height: 590px;
}

.producers {
    float: left;
    width: 230px;
    min-height: 270px;
    margin-bottom: 20px;
}

.product {
    float: left;
    width: 230px;
    min-height: 180px;
    margin-bottom: 20px;
}

.show {
    float: left;
    width: 230px;
    min-height: 90px;
}

.composition,
.selection-iteam {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}