html {

}

body {
    min-height: 1166px;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow Bold", "Trebuchet MS", Helvetica, sans-serif;  
    margin: 0;
    padding: 0;
}

body {
  background: #000000 url("../img/barbershop-item.jpg") no-repeat 50% 3px;
  background-size: 1200px auto;
}

.main-header {
    min-height: 75px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 150px;
    min-height: 75px;
    text-align: right;
    margin-right: 20px;
}

.main-navigation {
    float: left;
    width: 520px;
    min-height: 75px;
    padding: 0;
    margin: 0;
}

.user-block {
    float: right;
    width: 230px;
    min-height: 75px;
 }

.main-navigation-button {
    float: left;
    width: 100px;
    text-align: center;
}

.user-block-button {
    float: right;
    width: 80px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main {
    min-height: 862px;
    padding-top: 50px;
}

.name {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
}

.second-navigation {
    min-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.second-navigation-button {
    display: inline-block;
}

.selection {
    float: left;
    width: 230px;
    min-height: 592px;
}

.producers {
    float: left;
    width: 230px;
    min-height: 287px;
    margin-bottom: 20px;
}

.product {
    float: left;
    width: 230px;
    min-height: 200px;
    margin-bottom: 20px;
}

.show {
    float: left;
    width: 230px;
    min-height: 65px;
}

.goods {
    margin-left: 230px;
}

.good-iteam {
    float: left;
    width: 220px;
    min-height: 287px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.good-iteam:nth-child(3n) {
    margin-right: 0;
}

.good-iteam:nth-child(n+4) {
    margin-bottom: 0;
}

.good-iteam:nth-child(3n-2) {
    margin-left: 10px;
}

.pages {
    width: 100%;
    min-height: 138px;
}

.product-1 {
    float: left;
    width: 940px;
    min-height: 670px;
}

.gallery {
    float: left;
    width: 480px;
    min-height: 670px;
}

.gallery-container {
    float: left;
    width: 460px;
    min-height: 670px;
    margin: 0;
}

.description {
    float: right;
    width: 400px;
    min-height: 670px;
    margin-bottom: 49px;
}

.availability {
    float: left;
    width: 160px;
}

.vendor-code {
    float: right;
    width: 160px;
}

.detail {
    float: left;
    width: 400px;
    margin-bottom: 30px;
}

.buy {
    float: left;
    width: 400px;
    min-height: 65px;
    margin-bottom: 50px;
}

.scroll {
    float: left;
    width: 400px;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 32px;
    min-height: 93px;
}

.footer-contacts {
    float: left;
    width: 330px;
    min-height: 93px;
    margin-right: 60px
}

.footer-social {
    float: left;
    width: 180px;
    min-height: 93px;
}

.footer-copyright {
    float: right;
    width: 160px;
    min-height: 93px;
}

.composition,
.selection-iteam {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}