html {

}

body {
    min-height: 1166px;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
    font-weight: 700;
    font-family: "PT Sans Narrow", "Trebuchet MS", Helvetica, sans-serif;  
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

body {
 /* background: #000000 url("../img/barbershop-shop.jpg") no-repeat 50% 3px;*/
  background-size: 1200px auto;
}

.main-header {
    font-size: 0;
    background-color: black;
}

.main-header a {  
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    float: left;
    text-align: center;
}

.main-navigation {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-block {
    float: right;
 }

.main-navigation-button {
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    
}

.active {
    border-bottom: 3px solid white;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block-button {
    float: right;
    max-width: 140px;
    
}

.login {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
    line-height: 1.25;
    text-align: center;
    padding-right: 20px;
    padding-left: 50px;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 65px;
    width: 18px;
    height: 18px;
    background: transparent url("img/sprite.png") no-repeat;
    background-position: ;
    opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main {
    min-height: 862px;
    padding-top: 50px;
}

.name {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
}

.second-navigation {
    min-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.second-navigation-button {
    display: inline-block;
}

.second-navigation a {
    display: block;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;    
}

.second-navigation-button:last-child a {
     color: #aba9a7;
}

.second-navigation-button:nth-child(2) {
    padding-left: 37px;
    padding-right: 42px;
}

.selection {
    float: left;
    width: 230px;
    min-height: 592px;
}

.producers {
    float: left;
    width: 230px;
    min-height: 287px;
    margin-bottom: 25px;
}

.product {
    float: left;
    width: 230px;
    min-height: 200px;
    margin-bottom: 20px;
}

.show {
    float: left;
    width: 116px;
    
}

.producers-item {
    padding-top: 7px;
    padding-bottom: 7px;
}

.product-item {
    padding-top: 6px;
    padding-bottom: 15px;
}

.checkbox {
    padding-right: 10px;
}

.btn-form {
    position: relative;
    font-size: 13px;
    line-height: 1.38;
    font-weight: 700;
    color: white;
    font-family: "PT Sans Narrow", "Trebuchet MS", Helvetica, sans-serif;  
    text-transform: uppercase;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: black;
    border: none;
    
}

.goods {
    margin-left: 230px;
}

.good-iteam {
    float: left;
    width: 220px;
    min-height: 287px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.good-iteam:nth-child(3n) {
    margin-right: 0;
}

.good-iteam:nth-child(n+4) {
    margin-bottom: 0;
}

.good-iteam:nth-child(3n-2) {
    margin-left: 10px;
}

.pages {
    width: 100%;
    min-height: 138px;
}

.product-1 {
    float: left;
    width: 940px;
    min-height: 670px;
}

.gallery {
    float: left;
    width: 480px;
    min-height: 670px;
}

.gallery-container {
    float: left;
    width: 460px;
    min-height: 670px;
    margin: 0;
}

.description {
    float: right;
    width: 400px;
    min-height: 670px;
    margin-bottom: 49px;
}

.availability {
    float: left;
    width: 160px;
}

.vendor-code {
    float: right;
    width: 160px;
}

.detail {
    float: left;
    width: 400px;
    margin-bottom: 30px;
}

.buy {
    float: left;
    width: 400px;
    min-height: 65px;
    margin-bottom: 50px;
}

.scroll {
    float: left;
    width: 400px;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 32px;
    min-height: 93px;
}

.footer-contacts {
    float: left;
    width: 330px;
    min-height: 93px;
    margin-right: 60px
}

.footer-social {
    float: left;
    width: 180px;
    min-height: 93px;
}

.footer-copyright {
    float: right;
    width: 160px;
    min-height: 93px;
}

.composition,
.selection-iteam {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}